body {
     background-color: rgb(250, 250, 250);
     background-image: url("p5imgage.png");
     background-repeat: no-repeat;
     background-size: cover;
}

h1 {
     color: rgb(255, 255, 255);
     font-size: 60px;
     font-family: "Zapfino";
     height: 85px;
     text-align: center;
}

h2 {
     color: green;
     font-style: bold;
     font-size: 30px;
     font-family: "Herculanum";
}

h5 {
     color: grey;
     font-style: bold;
     font-size: 24px;
     font-family: "Impact";
}

.Links {
     display: flex;
     justify-content: flex-start;
}

.Links a {
     margin-left: 100px;
     text-decoration: none;
     color: blue;
     font-weight: bold;
     font-family: 'DIN Condensed';
}

.Games {
    margin: 0px;
    margin-top: 10px;
     text-align: center;
     background-color: white;
}

.Games1 {
     float: left;
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
    order: 0;
    flex-basis: content;
    background-color: white;
    position: relative;
    height: 400px;
    width: 400px;
}

.Games1 img{
     opacity: 1;
     width: 300px;
     height: 280px;
}

.Games1:hover img{
     opacity: 0.1;
}

.Games1 p{
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 250px;
}

.Games1:hover p{
     opacity: 1;
     color: black;
}


a {
     color: white;
     font-size: 25px;
}

p {
     font-style: bold;
     font-size: 15px;
     font-family: "Georgia";
}

.AllGames {
     display:flex;
     justify-content: space-around;
     flex-wrap: wrap;
     align-items: baseline;
}

.AllGames p {
     text-align: center;
}

.AllGames a {
     color: red;
     font-size: 15px;
}

.AllGames a:hover {
     color: rgb(57, 246, 57);
     font-size: 15px;
}